$cyan: #03a89e;
$voilet: #a0a;
$yellow: #bb0;
$orange: #ff8c00;

.difficult-circle {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 50%;
    box-sizing: border-box;

    &.black::after {
        display: block;
        content: " ";
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -2px;
        margin-top: -2px;
        width: 4px;
        height: 4px;
        background-color: red;
        border-radius: 50%;
    }
}
.problem-cell {
    padding: 0 !important;

    .problem-content {
        padding: 36px 16px;
        &.solved {
            background-color: #9ad59e;
        }
        &.upsolved {
            background-color: #c3e6cb;
        }
        &.failed {
            background-color: #ffeeba;
        }
    }
    .problem-link {
        display: inline-block;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .problem-statistics {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .problem-time {
        color: #888;
    }
    .problem-penalty {
        margin-left: 5px;
        color: red;
    }

    .problem-divisions {
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
    }
    .problem-div-1, .problem-div-2, .problem-div-3, .problem-div-4 {
        height: 4px;
    }
    .problem-div-1 {
        background: red;
    }
    .problem-div-2 {
        background: $orange;
    }
    .problem-div-3 {
        background: $cyan;
    }
    .problem-div-4 {
        background: grey;
    }
}
