$cyan: #03a89e;
$voilet: #a0a;
$yellow: #bb0;
$orange: #ff8c00;

td.problem-cell {
    padding: 0 !important;

    .problem-content {
        height: 95px;
        padding: 0px 16px;
        &.solved {
            background-color: #9ad59e;
        }
        &.upsolved {
            background-color: #c3e6cb;
        }
        &.failed {
            background-color: #ffeeba;
        }
    }
}

.rating-legendary::first-letter {
    color: black;
}

.contest-statistics {
    position: absolute;
    bottom: 10px;
    left: 16px;
    right: 16px;
    z-index: 10;

    &.code-chef {
        bottom: -2px;
        right: -40px;
        left: 0px;
    }
}
.contest-place {
    margin-left: 5px;
    flex: 1;
    color: #888;
}

.difficult-circle {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 50%;
    box-sizing: border-box;

    &.black::after {
        display: block;
        content: " ";
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -2px;
        margin-top: -2px;
        width: 4px;
        height: 4px;
        background-color: red;
        border-radius: 50%;
    }
}
.problem-link {
    display: inline-block;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.problem-statistics {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.problem-time {
    color: #888;
}
.problem-penalty {
    margin-left: 5px;
    color: red;
}

.problem-divisions {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
}
.problem-div-1, .problem-div-2, .problem-div-3, .problem-div-4 {
    height: 4px;
}
.problem-div-1 {
    background: red;
}
.problem-div-2 {
    background: $orange;
}
.problem-div-3 {
    background: $cyan;
}
.problem-div-4 {
    background: grey;
}
.legend-container {
    position: absolute;
    top: -12px;
    right: 15px;
    padding: 8px;
    border-radius: 4px;
    width: 300px;
  }
  
  .legend-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  .legend-cell {
    padding: 0 5px;
    text-align: center;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
  }
  
  .legend-color-box {
    width: 20px;
    height: 5px;
    margin-right: 5px;
  }
  