.difficult-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 50%;
    box-sizing: border-box;
}
.problem-cell {
    padding: 0 !important;

    .problem-content {
        padding: 36px 16px;
        &.solved {
            background-color: #9ad59e;
        }
        &.upsolved {
            background-color: #c3e6cb;
        }
    }
    .problem-link {
        display: inline-block;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .problem-statistics {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .problem-time {
        color: #888;
    }
    .problem-penalty {
        margin-left: 5px;
        color: red;
    }
}
